# MongoDB Atlas Connection String
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/memocare

# Frontend URL (e.g., http://your-ec2-ip:5173 for dev)
FRONTEND_URL=http://localhost:5173

# Vite API URL for the frontend to communicate with the backendserver
VITE_API_URL=http://localhost:5000/api
