# MongoDB Atlas Connection String
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/memocare

# Frontend URL for CORS configuration
FRONTEND_URL=http://localhost:5173

# Port for the backend server
PORT=5000
